.container
  .row
    .span12
      New Page Form
  .row
    .span12
    
      = form_for @page do |f|
        = f.label :title
        = f.text_field :title
        = f.label :url
        = f.text_field :url
        = f.label :content
        = f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120
        .block
          = f.submit "create page", :class => "btn btn-large top-twenty-margin btn-success pull-left"   