TechCube
World class startup space in Edinburgh
**************************************

TC Bot notification email

New enquiry from
=@enquiry.company

Contact name:  
= @enquiry.name

Contact email:  
= @enquiry.email

Contact phone:  
= @enquiry.phone

Employees:  
= @enquiry.employees

Pitch:  
= @enquiry.pitch

Move in date:  
= @enquiry.movein_date.strftime("%m/%d/%Y")

See you later, punks... TC bot :)

Please do not reply to this email.