.container
  .row
    .span12
      %h2
        Admin area
  
  .row
    .span12
      .inline.tbold{:style => "font-size:2em;"}
        News Posts   
      %a{:href => "admin/posts/new"}
        {+ new post}
  .row
    .span12
      .row
        .tbold
          .span4
            Title
          .span6
            Author
          .span2
            Tools    
      -@posts.each do |post|
        .row
          .span4
            =post.title
          .span6
            =post.user.name if post.user
          .span2
            %a{:href => "news/#{post.to_url}"}
              View Post
            || 
            %a{:href => "admin/posts/edit/#{post.id}"}
              Edit
            ||
            =link_to 'Delete', post, :method => :delete, :confirm => "This will permanently delete the post, are you sure?"

  .row
    .span12
      .inline.tbold{:style => "font-size:2em;"}
        Pages   
      %a{:href => "admin/pages/new"}
        {+ new page}
  .row
    .span12
      .row
        .tbold
          .span4
            Title
          .span6
            URL
          .span2
            Tools    
      -@pages.each do |page|
        .row
          .span4
            =page.title
          .span6
            =page.url
          .span2
            %a{:href => "#{page.url}"}
              View Page
            || 
            %a{:href => "admin/pages/edit/#{page.id}"}
              Edit
            ||
            %a{:href => "admin/pages/destroy/#{page.id}", :confirm => "This will permanently delete the page, are you sure?"}
              Delete
          
  .row
    .span12
      .inline.tbold{:style => "font-size:2em;"}
        Users   
      %a{:href => "admin/users/new"}
        {+ new user}  
      .row
        .tbold
          .span4
            name
          .span4
            email
          .span2
            admin?
          .span2
            tools
      -@users.each do |user|
        .row
          .span4
            =user.name
          .span4
            =user.email
          .span2
            =user.admin?
          .span2
            %a{:href => "admin/user/destroy/#{user.id}", :confirm => "This will permanently delete the user, are you sure?"}
              Delete   
  .row
    .span12
      %h4
        Jobs
  .row
    .span12
      list of Jobs

  .row
    .span12
      %h4
        Events
  .row
    .span12
      Events