.row
  .span9
    
    .row
      .span9
        .well
          .t3em.tw200
            Launch date: 16th November, 2012
    .row
      .span9
        %div{:id => "myCarousel", :class => "carousel slide"}
          .carousel-inner
            .active.item
              = image_tag("/assets/tc/1.jpg")
              .carousel-caption
                <p>Caption</p>
            .item
              = image_tag("/assets/tc/2.jpg")
              .carousel-caption
                <p>Caption</p>
            .item
              = image_tag("/assets/tc/3.jpg")
              .carousel-caption
                <p>Caption</p>
            .item
              = image_tag("/assets/tc/4.jpg")
              .carousel-caption
                <p>Caption</p>
            .item
              = image_tag("/assets/tc/5.jpg")
              .carousel-caption
                <p>Caption</p>
            .item
              = image_tag("/assets/tc/6.jpg")
              .carousel-caption
                <p>Caption</p>
            .item
              = image_tag("/assets/tc/7.jpg")
              .carousel-caption
                <p>Caption</p>
                
            .item
              = image_tag("/assets/tc/8.jpg")
              .carousel-caption
                <p>Caption</p>
          %a{:href => "#myCarousel", :class=> "carousel-control left", :"data-slide"=>"prev"}
            &lsaquo;
          %a{:href => "#myCarousel", :class=> "carousel-control right", :"data-slide"=>"next"}
            &rsaquo;
        :javascript
          $('.carousel').carousel({
            interval: 4000
          })

    .row
      .span9
        .top-twenty-margin.lato.t1-6em.block.lh1-2
          TechCube is an eight story building providing world class space for technology startups in Edinburgh. Situated two minutes the University of Edinburgh, TechCube is at the heart of Edinburgh’s rapidly developing startup scene. Companies tackling big problems  
          
        .top-twenty-margin.lato.t1-4em.block.lh1-2
          Featuring a public space on the ground floor for hackers, artists, coffee nerds and everyone in between and a roof terrace overlooking Edinburgh’s prehistoric skyline, the site is set to become one of the most desirable places to start a tech company in Europe.
          
        .top-twenty-margin.lato.t1-4em.block.lh1-2
          TechCube is nested within the Summerhall arts complex, creating an environment where the arts and technology come together. Like MIT and New York, Edinburgh owes its great heritage to a mixing between science and culture; TechCube and Summerhall follow in this tradition. In addition to the tech focused events, tenants and visitors to TechCube have a rich pallet of arts to engage with, including an exciting avant garde festival program in August.
        
            
  