.bgblue
  .container
    =render :partial => "layouts/errors"
    .top-twenty-margin
      .row
        .span9
          Job listings
          .block
            %a{:href=>"#newJobListing", :role=>"button", :class=>"btn btn-large btn-primary block top-bottom-twenty-margin", :"data-toggle"=>"modal", :"data-target"=> "#newJobListing"}
              Add Job Listing
        .span3
          .row
            .span3
              =render :partial => "layouts/sidebar"
.container
  .row
    .span9
      Jobs listings

    .span3
      =render :partial => "layouts/map"
.modal{:id=>"newJobListing", :class=>"modal hide fade", :tabindex=>"-1", :role=>"dialog", :"aria-labelledby"=>"myModalLabel", :"aria-hidden"=>"true"}
  .modal-header
    %h3{:id=>"myModalLabel"}
      New Job Listing
  .modal-body
    .bottom-twenty-margin.tbold
      We are using the Guardian format for job listings - here are some guidelines for best practice:
      %a{:href => "http://bit.ly/YxQKFb", :target => "_blank" }
        http://bit.ly/YxQKFb
    .bottom-ten-margin

    = form_for @job, :url => url_for(:controller => 'jobs', :action => 'create') do |f|
      = f.text_field :user_name,  :placeholder => "Your Name"
      = f.text_field :user_email, :placeholder => "Your Email"
      = f.text_field :company_name, :placeholder => "Company Name"
      = f.text_field :company_description, :placeholder => "Company Description"
      = f.text_field :job_title, :placeholder => "Job Title"
      = f.text_field :job_description, :placeholder => "Job Description"
      = f.text_field :person_description, :placeholder => "Person Description"
      = f.text_field :salary, :placeholder => "Salary"
      = f.text_field :location, :placeholder => "Location"
      = f.text_field :postcode, :placeholder => "Post Code"
      = f.text_field :start_date, :placeholder => "Start Date", :"data-behaviour" => "datepicker"
      = f.text_field :how_to, :placeholder => "How to Apply"


      .block.w150.bottom-twenty-margin

      = f.hidden_field :approved, :value => "false"
      %br
      = f.submit "Send", :class=>"btn btn-success"
  
  .modal-footer
    %button{:class=>"btn", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"}
      Close

