.bgblue
  .container
    .top-twenty-margin
      .row
        .span9
          .border.bottom-twenty-margin.relative
            .absolute{:style=>"bottom:30px; left:0px; opacity:0.8; background-color:#eee; padding:15px; width:430px"}
              .t2-5em.pull-right{:style=>"opacity:1"}
                Flexible and adaptable space
            =image_tag("/assets/space_2.jpg")
        .span3
          .row
            .span3
              - flash.each do |key, value|
                .bottom-ten-margin
                  %div{:class => "flash #{key}"}
                    = value
          .row
            .span3
              =render :partial => "layouts/sidebar"

.container
  .top-ten-margin
    .row
      .span9
        .row
          .span5
            .t2-5em
              The space
            .t1-2em  
              %br
              TechCube provides functional, adaptable office space in a range of sizes and configurations, with market-leading comms and networking, bookable meeting rooms and plenty of cool social and breakout space - making us the destination for Edinburgh tech companies.
          .span4
            .t2-5em
              Pricing
            .t1-2em
              %br
              Our pricing is based on a tiered system which is designed to be flexible and responsive to early stage startups. We go through an assessment process before agreeing terms - so a pre-money startup will pay less than a company growing and turning a profit.
        .row
          .span9
            .well.top-twenty-margin
              .t2em.bottom-twenty-margin
                Join us at TechCube
              .t1-4em.lato
                TechCube is open to applications from any tech company based in Edinburgh or willing to relocate here. 
                %br
                %br
                If you’re pursuing a great idea, and want to become part of the vibrant and dynamic community, get in touch.
              %a{:href=>"#myModal", :role=>"button", :class=>"btn btn-large btn-primary block top-bottom-twenty-margin", :"data-toggle"=>"modal", :"data-target"=> "#myModal"}
                Apply for space
        .row
          .span9
            .t2em.top-twenty-margin
              Current Tenants

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150{:style => "border:1px solid #aaa; "}
                    =image_tag("/assets/administrate_logo.png", :size => "150x150")
                .span6
                  .row
                    .span6
                      .t2em.bottom-ten-margin
                        Administrate
                  .row
                    .span6
                      Administrate is online business management software created just for training providers.  Our global customer base uses Administrate to manage their training events, instructors, customer relationships, finances, and online learning environments.  Since 2010 our software has helped our clients train over 650,000 students across more than 75,000 events
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.GetAdministrate.com", :target => "_blank"}
                          http://www.getadministrate.com


        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150{:style => "border:1px solid #aaa; "}
                    =image_tag("/assets/cloudsoft_logo.png", :size => "150x150")
                .span6
                  .row
                    .span6
                      .t2em.bottom-ten-margin
                        Cloudsoft
                  .row
                    .span6
                      Cloudsoft specializes in multi-cloud application management, enabling large enterprises to better exploit the benefits of cloud computing.

                      Cloudsoft’s open source Application Management Platform makes enterprise applications elastic, self-governing, and able to span multiple clouds, backed by Cloudsoft’s comprehensive professional open source support and services.
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.cloudsoftcorp.com/", :target => "_blank"}
                          http://www.cloudsoftcorp.com/

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150{:style => "border:1px solid #aaa; "}
                    =image_tag("/assets/fanduel_square.png", :size => "150x150")
                .span6
                  .row
                    .span4
                      .t2em.bottom-ten-margin
                        Fanduel
                    .span2
                      %i.icon-facetime-video
                      %a{:href => "http://vimeo.com/55947997", :target => "_blank"}
                        Watch profile video
                  .row
                    .span6
                      FanDuel is the leading one-day fantasy sports game for NFL, MLB, NBA and NHL in the US & Canada. From humble beginnings in 2009 FanDuel has grown the daily fantasy concept to a point where they now pay out over $1.5m in prizes every week. The company currently has 35 employees with offices in New York and Edinburgh.
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.fanduel.com", :target => "_blank"}
                          http://www.fanduel.com
        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150{:style => "border:0px solid #aaa"}
                    =image_tag("/assets/float_square.png", :size => "150x150")
                .span6
                  .row
                    .span4
                      .t2em.bottom-ten-margin
                        Float
                    .span2
                      %i.icon-facetime-video
                      %a{:href=>"http://vimeo.com/55941538", :target => "_blank"}
                        Watch profile video
                  .row
                    .span6
                      Float makes cash flow forecasting and planning so much easier by syncing directly with your accounting software. 
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.floatapp.com", :target => "_blank"}
                          http://www.floatapp.com

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150.h150{:style => "border:1px solid #aaa"}
                    =image_tag("/assets/tigerface.png", :size => "150x150")
                .span6
                  .row
                    .span6
                      .t2em.bottom-ten-margin
                        Tigerface Games
                  .row
                    .span6
                      TigerFace Games is a producer of educational games on mobile platforms. They specialise in designing games that engage parents and children to actively play and learn together. Believing in the power of interactive content to increase participation, their games are perfect both in the home and classroom. TigerFace is part of Interface3 Digital.
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.tigerfacegames.com/", :target => "_blank"}
                          http://www.tigerfacegames.com/

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150.h150{:style => "border:1px solid #aaa"}
                    =image_tag("/assets/neo_square.png", :size => "150x150")
                .span6
                  .row
                    .span6
                      .t2em.bottom-ten-margin
                        Neo
                  .row
                    .span6
                      Neo is a global product innovation company with a client base that ranges across large enterprises, startups, and governments. We founded the business with the vision that great product development requires “lean startup” rigor, high-quality development processes, and a focus on creating value
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.neo.com/", :target => "_blank"}
                          http://www.neo.com/

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150.h150{:style => "border:1px solid #aaa; background:#fff"}
                    =image_tag("/assets/pfc.png", :size => "150x150")
                .span6
                  .row
                    .span4
                      .t2em.bottom-ten-margin
                        PlanForCloud
                    .span2
                      %i.icon-facetime-video
                      %a{:href=>"http://vimeo.com/55942849", :target => "_blank"}
                        Watch profile video
                  .row
                    .span6
                      PlanForCloud is a free cloud cost forecasting site. You can run your deployments through a simulation to create a detailed 3-year cloud cost forecast prior to cloud adoption. This enables you to do what-if analysis on different deployments, clouds and purchase options (e.g. on-demand vs reserved instances).
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.planforcloud.com/", :target => "_blank"}
                          http://www.planforcloud.com/
        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150.h150{:style => "border:1px solid #aaa"}
                    =image_tag("/assets/swa.png", :size => "150x150")
                .span6
                  .row
                    .span6
                      .t2em.bottom-ten-margin
                        Software Alliance
                  .row
                    .span6
                      Software Alliance is the creator of Mo.net®, a cutting edge actuarial financial modelling platform used by insurance companies and actuarial consultancies across the globe
                  .row
                    .span6
                      .top-ten-margin
                        -# %a.tbold.t1-2em{:href => "http://www.softwarealliance.com/", :target => "_blank"}
                        -#   http://www.softwarealliance.com/

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150.h150{:style => "border:1px solid #aaa"}
                    =image_tag("/assets/journal.png", :size => "150x150")
                .span6
                  .row
                    .span6
                      .t2em.bottom-ten-margin
                        The Journal
                  .row
                    .span6
                      The Journal is a local media platform that produces premium print and online content for students. Editors and writers volunteer to receive professional, high calibre experience in the media while the readership receives a respected, qualified voice in the local community.
                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.journal-online.co.uk/", :target => "_blank"}
                          http://www.journal-online.co.uk/

        .row
          .span9
            .top-ten-margin.bottom-ten-padding{:style => "border-bottom:1px solid #aaa"}
              .row
                .span2
                  .w150.h150{:style => "border:1px solid #aaa; background:#fff"}
                    =image_tag("/assets/ww_logo.png", :size => "150x150")
                .span6
                  .row
                    .span4
                      .t2em.bottom-ten-margin
                        Winterwell Associates
                    .span2
                      %i.icon-facetime-video
                      %a{:href=>"http://vimeo.com/55949406", :target => "_blank"}
                        Watch profile video
                  .row
                    .span6

                  .row
                    .span6
                      .top-ten-margin
                        %a.tbold.t1-2em{:href => "http://www.winterwell.com/", :target => "_blank"}
                          http://www.winterwell.com/
      .span3
        =render :partial => "layouts/map"
      

    
                    
                    
  - ######### End of Tenant list ############

  .modal{:id=>"myModal", :class=>"modal hide fade", :tabindex=>"-1", :role=>"dialog", :"aria-labelledby"=>"myModalLabel", :"aria-hidden"=>"true"}
    .modal-header
      %h2{:id=>"myModalLabel"}
        Please fill in your info
    .modal-body
      .bottom-twenty-margin.tbold
        All fields are optional, but we recommend you fill them in
      .bottom-ten-margin
      = form_for @enquiry, :url => url_for(:controller => 'enquiries', :action => 'create') do |f|
        = f.text_field :company,  :placeholder => "Company name"
        = f.text_field :employees, :placeholder => "Number of employees"
        = f.text_field :email, :placeholder => "Email"
        = f.text_field :name, :placeholder => "Contact name"
        = f.text_field :phone, :placeholder => "Phone number"
        = f.text_field :movein_date, :placeholder => "Preferred move in date", :"data-behaviour" => "datepicker"
        .block.w150.bottom-twenty-margin
        = f.text_area :pitch, :placeholder => "In fewer than 140 characters, tell us what you do", :style=>"width:450px;height:100px;"
        %br
        = f.submit "Send", :class=>"btn btn-success"
    
    .modal-footer
      %button{:class=>"btn", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"}
        Close


