.container
  .row
    .span12
      %h1
        
        Edit post
      .row
        .span12

          = form_for @post do |f|
            %h2.twhite.miso
              = f.label :title

            .box_top.top-ten-margin
              .box_tr{:style=> "background: #fff"} 
              .box_tl
              .box_tm{:style=> "background: #fff"} 
            .box_mid.threecol
              .colmid
                .box_ml
                  .box_mm
                    .box_mc{:style=> "background: #fff"}

                      = f.text_field :title, :value => "#{@post.title}", :class => "fill"   
            .box_bottom
              .box_br 
              .box_bl
              .box_bm

              %h2.twhite.miso
                = f.label :url

              .box_top.top-ten-margin
                .box_tr{:style=> "background: #fff"} 
                .box_tl
                .box_tm{:style=> "background: #fff"} 
              .box_mid.threecol
                .colmid
                  .box_ml
                    .box_mm
                      .box_mc{:style=> "background: #fff"}

                        = f.text_field :url, :class => "fill", :value => "#{@post.url}"   
              .box_bottom
                .box_br 
                .box_bl
                .box_bm

            %h2.twhite.miso
              = f.label :content

            .box_top.top-ten-margin
              .box_tr{:style=> "background: #fff"} 
              .box_tl
              .box_tm{:style=> "background: #fff"} 
            .box_mid.threecol
              .colmid
                .box_ml
                  .box_mm
                    .box_mc{:style=> "background: #fff"}
                      = f.text_area :body, :class => "tinymce", :rows => "15", :cols => "300", :value => "#{@post.body}"    
                      = tinymce 

            .box_bottom
              .box_br 
              .box_bl
              .box_bm


            .inline-block
              .box_top.top-twenty-margin
                .box_tr{:style=> "background: rgb(19,159,219)"} 
                .box_tl
                .box_tm{:style=> "background: rgb(19,159,219)"} 
              .box_mid.threecol
                .colmid
                  .box_ml
                    .box_mm
                      .box_mc{:style=> "background: rgb(19,159,219); padding: 3px 10px 5px 15px"}
                        .block.t1-4em
                          = f.submit "Save Page", :class => "button-nostyle miso t1-2em"


              .box_bottom
                .box_br 
                .box_bl
                .box_bm
            
            
                                                                               