.container
  .row
    .span12
      %h1
        
        Edit user
  .row
    .span12
    
      = form_for @user do |f|
        = f.label :name
        = f.text_field :name, :value => "#{@user.name}"
        = f.label :email
        = f.text_field :email, :value => "#{@user.email}"  
        = f.label :password
        = f.password_field :password 
        = f.label :admin
        = f.check_box :admin
        = f.label :password_confirmation
        = f.password_field :password_confirmation
        
        .block
          = f.submit "save user", :class => "btn btn-large top-twenty-margin btn-success pull-left"