.row
  .span6
    - if otc_event == @otc_events.first
      .t2em.vdividerbottom
        = Date.parse(otc_event["start"]["rfc2882local"]).strftime("%A %B %d, %Y")
      .block.top-ten-margin.t1-4em
        %a{:href => "#{otc_event["siteurl"]}"}
          = otc_event["summary"]
      .block
        = "Starts at: \t"+ DateTime.parse(otc_event["start"]["rfc2882local"]).strftime("%l:%M %p")
      .block
        = "Ends at: \t"+ DateTime.parse(otc_event["end"]["rfc2882local"]).strftime("%l:%M %p")

      .block.bottom-ten-margin.hdividerbottom
        -if otc_event["description"] != ""
          = "\t" + otc_event["description"]
        -else
          = "\tNo description was entered for this event"

    - else
      .t2em.vdividerbottom
        = Date.parse(otc_event["start"]["rfc2882local"]).strftime("%A %B %d, %Y")
      .block.top-ten-margin.t1-4em
        %a{:href => "#{otc_event["siteurl"]}", :target=> "_blank"}
          = otc_event["summaryDisplay"]
      .block
        = "Starts at: \t"+ DateTime.parse(otc_event["start"]["rfc2882local"]).strftime("%l:%M %p")
      .block
        = "Ends at: \t"+ DateTime.parse(otc_event["end"]["rfc2882local"]).strftime("%l:%M %p")

      .block.bottom-ten-margin
        -if otc_event["description"] != ""
          = "\t" + otc_event["description"]
        -else
          = "\tNo description was entered for this event"
  -#     .inline.relative
  -#       =otc_event["location"]["address"]
  -# .span2.pull-right
  -#   -if otc_event["location"]["lat"] != nil 
  -#     %a{:href => "http://maps.google.com?q=#{otc_event["location"]["address"]},#{otc_event["location"]["lng"]}"}
  -#       =image_tag( "http://maps.googleapis.com/maps/api/staticmap?center=#{otc_event["location"]["lat"]},#{otc_event["location"]["lng"]}&size=125x100&maptype=roadmap&markers=color:blue|#{otc_event["location"]["lat"]},#{otc_event["location"]["lng"]}&sensor=false&zoom=12", :class => "border")      


-@date = otc_event["start"]["rfc2882local"]