.row
  .span3
    .dosis.tw400.t2-5em.bottom-ten-margin
      Stay up to date
    .t1em.tbold.bottom-ten-margin
      Sign up for our mailing list
    = form_for @contact, :url => url_for(:controller => 'contacts', :action => 'create') do |f|
      = f.text_field :name,  :placeholder => "name"
      = f.text_field :email, :placeholder => "email", :class=>"small"
      = f.label :iama, "I am"
      = f.select :iama, ["working in a startup", "an investor", "a freelancer", "working in professional services", "a student", "just interested"]
      %br
      = f.submit "Sign up", :class=>"btn btn-success pull-right"
     


