!!!
%html
  %head
    %title TechCube
    
    -####### Javascript #######
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29588531-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %link{ :rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Caudex:400,700|Lato:300,400,700,900|Arvo:400,700|Cabin:400,500,600,700|Neuton:300,400,700|Istok+Web:400,700|Josefin+Sans:300,400,600,700|Bitter:400,700|Josefin+Slab:300,400,600,700|Muli:300,400|Alegreya:400,700,900|Alegreya+SC:400,700,900|Crimson+Text:400,600,700|Quattrocento+Sans:400,700|Gravitas+One|Dosis:200,300,400,500', :rel => 'stylesheet', :type => 'text/css'}

    
    -######## Stylesheets #######
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = stylesheet_link_tag    "mod_styles", :media => "all"
    = stylesheet_link_tag    "home", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "jquery-1.7.2.js"
    = javascript_include_tag "bootstrap.js"
    = javascript_include_tag "application.js"
    :css
      input {
          max-width: 100%;
      }
      select{
          max-width:100%;
      }

  %body.bgbeige
    = render :partial => "/layouts/header"
    = yield
  %footer.hdividertop.top-twenty-margin.bggrey
    .container
      .top-twenty-margin
        .row
          .span3
            .t2em.tw400
              As seen in
            .block.top-twenty-margin
              =image_tag("/assets/scotsman.png", :size=>"150x20")
            .block.top-twenty-margin
              =image_tag("/assets/sync.png", :size=>"75x20")
          .span3
            .t2em.tw400
              Partners
            .block.top-twenty-margin
              =image_tag("/assets/summerhall.png", :size=>"150x20")
            .block.top-twenty-margin
              =image_tag("/assets/skyscanner.png", :size=>"150x20")
            -# .block.top-twenty-margin
            -#   =image_tag("/assets/freeagent.png", :size=>"150x20")
          .span3
            .t2em.tw400
              Contact
            .block.top-twenty-margin
              TechCube
              %br
              1 Summerhall
              %br
              Edinburgh EH9 1QH
              %br
              %a{:href => "mailto:info@techcu.be"}
                info@techcu.be
          .span3
            %a{:href => "http://www.facebook.com/edtechcube"}
              =image_tag("/assets/f_logo.png", :size=>"25x25")
            %a{:href => "http://www.twitter.com/edtechcube"}
              =image_tag("/assets/t_logo.png", :size=>"40x40")
                
              
              
