!!!
%html
  %head
    %meta{:name => "description", :content => "TechCube: world class startup incubation in Edinburgh"}
    %meta{:name => "keywords", :content => "techcube, edinburgh, startups, investment, vc, angel, technology, scotland, informatics, startup, economy, growth, web, news, property" }
    %meta{:name => "Generator", :content => "© TechCube " + Date::today.strftime('%Y')}
    %meta{:name => "robots", :content => "index, follow"}
    %title TechCube
    
    -####### Javascript #######
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29588531-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %link{ :rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Caudex:400,700|Lato:300,400,700,900|Arvo:400,700|Cabin:400,500,600,700|Neuton:300,400,700|Istok+Web:400,700|Josefin+Sans:300,400,600,700|Bitter:400,700|Josefin+Slab:300,400,600,700|Muli:300,400|Alegreya:400,700,900|Alegreya+SC:400,700,900|Crimson+Text:400,600,700|Quattrocento+Sans:400,700|Gravitas+One|Dosis:200,300,400,500', :rel => 'stylesheet', :type => 'text/css'}

    
    -######## JS and Stylesheets #######
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = stylesheet_link_tag    "mod_styles", :media => "all"
    = stylesheet_link_tag    "tcbox", :media => "all" 
    = stylesheet_link_tag    "forms", :media => "all" 
    = stylesheet_link_tag    "bootstrap-datetimepicker"
  
    = csrf_meta_tags
    = javascript_include_tag "jquery-1.8.3.js"
    = javascript_include_tag "bootstrap.js"
    = javascript_include_tag "application.js"

    

    
    :css
      input {
          max-width: 100%;
      }
      select{
          max-width:100%;
      }

  -if request.fullpath.match(/\/admin/)
    - bg_tile = "/assets/tc_bg_tile_inverted.png"
  -else
    - bg_tile = "/assets/tc_bg_tile.png"
    
  %body{:style=> "background-image: url(#{bg_tile})"}
    = render :partial => "/layouts/header"
    = yield  
  =render :partial => "/layouts/footer"
                
              
              
